<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>search</servlet-name>
        <servlet-class>searchServer.Search</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DoCrawl</servlet-name>
        <servlet-class>searchServer.DoCrawl</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>search</servlet-name>
        <url-pattern>/search/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DoCrawl</servlet-name>
        <url-pattern>/doCrawl/*</url-pattern>
    </servlet-mapping>
    <listener>
        <listener-class>
            searchServer.ChordContext
        </listener-class>
    </listener>
    <session-config>
        <session-timeout>
            300
        </session-timeout>
    </session-config>
</web-app>
